<h1>Welcome to the Recipe API!</h1>
<div class="container">
    <p>Use the endpoints to interact with recipes data.</p>
    <p>"/api/recipes" to get all recipes or create new</p>
    <p>"/api/recipes/id" to delete or update existing recipe</p>
    <p>"/recipes" to see all recipes</p>
</div>